@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* Main styles */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: "Lato", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

/* Form Styling */

.form-container {
  border: 1px solid blue;
}

/* CV Styling */

.cv-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.cv-container div {
  padding: 1rem;
}

.cv-container div > span {
  padding: 1rem;
}
