@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* Main styles */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgba(226, 222, 222, 0.411);
  font-family: "Lato", sans-serif;
  overflow: scroll;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header > h1 {
  font-weight: 400;
}

/* Form Styling */

.form-container, .cv-container {
  -webkit-box-shadow: 0 0 5px 2px #fff;
  -moz-box-shadow: 0 0 5px 2px #fff;
  box-shadow: 0 0 5px 2px rgb(134, 125, 125);
  border-radius: 7px;
  background-color:rgb(247, 255, 255);
}

.form-container {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.form-container section {
  display: flex;
  flex-direction: column;
}

.form-container section > input {
  padding: 0.2rem;
  width: 250px;
}

.form-container section * {
  margin: 0.5rem;
}

.form-container section > h3 {
  text-align: center;
  font-weight: 400;
}

/* CV Styling */

.cv-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.cv-container h3 {
  font-weight: 400;
  padding: 0.5rem;
}

.cv-container div, .cv-container div > span {
  padding: 1rem;
  font-weight: 300;
}

.cv-container .buttons-container {
  display: block;
  margin: 0 auto;
}

.cv-container .buttons-container > button {
  padding: 0.7rem 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.picture-container {
  margin-right: 2rem;
}

.picture-container, .picture-container > h3 {
  padding: 1rem;
  text-align: center;
}

.profile-thumbnail {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.cv-container .buttons-container > .clear-btn {
  background-color: rgb(238, 184, 195);
}

.cv-container .buttons-container > .download-btn {
  background-color: aquamarine;
}


@media only screen and (max-width: 576px) {
  .cv-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1415px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 2rem 0;
    padding: 1rem;
  }

  .cv-container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

}